PORT=5000
NODE_ENV=development
DATABASE_URL="mysql://central_bank:changeme@localhost:3301/connector_db"
CENTRAL_BANK_URL="http://localhost:3000"
CENTRAL_BANK_SERVICE_TOKEN="super-secret-service-token"
JWT_SECRET="jwt-secret-at-least-32-chars-long"
RATE_LIMIT_DEFAULT_RPS=50
ADMIN_API_KEY="admin_secret_key_123"
